<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59956452358-3mb2bgg7uqjcu89rdpan6137acd6kji3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59956452358-3mb2bgg7uqjcu89rdpan6137acd6kji3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59956452358-sbbtu3i1s7gqkapi0ga56chsan8hngn0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUL5ogDFVryxbotwK35_P3x9aO6Bk2VXA</string>
	<key>GCM_SENDER_ID</key>
	<string>59956452358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imjet.user</string>
	<key>PROJECT_ID</key>
	<string>auth-e7e05</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-e7e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59956452358:ios:c210a1b7e5d7159c447787</string>
	<key>DATABASE_URL</key>
	<string>https://auth-e7e05.firebaseio.com</string>
</dict>
</plist>